*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
  display: flex;

}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 12%;
  height: 100vh;
  background-color: black;
display: flex;
flex-direction: column;
}

.maincontent{
  margin-left: 12%;
  width: 88%;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  
}

.header-sidebar{
height: 8vh;
display: flex;
align-items: center;
}

.header-sidebar img{
  width: 20%;
  text-align: center;
  margin-left: .4em;
}
.header-sidebar h2{
  color: rgb(211, 211, 211);
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
}

.navlinks{
  margin-top: 2em;
}

.navlinks ul{
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  padding-left: .5em ;
  padding-right: .5em ;
  justify-content: space-around;
}

.navlinks ul li{
  list-style: none;
  background-color: rgb(54, 54, 54);
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  border-radius: 5px;
}

.navlinks ul li a{
  text-decoration: none;
  text-transform: capitalize;
  color: whitesmoke;
 
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  padding: 0.5em 1em;
  display: block;
}

footer{
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: space-around;  
   background-color: rgb(54, 54, 54);
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 0.5em;
}

.adminame{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.adminame p, small{
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

.header-main{
  display: flex;
  justify-content: space-between;
  height: 8vh;
align-items: center;
background-color: white;

}


.header-main h2{
  text-transform: capitalize;
  font-family: 'Lobster', cursive;
  color: rgb(49, 49, 49);
  font-family: "Roboto", sans-serif;
}

.icons i{
  font-size: 22px;
  color: rgb(24, 24, 24);
}

.icons{
display: flex;
justify-content: space-around;
width: 10%;
}

.first-preview{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 1em;
  height: auto;
  background-color: white;
  padding-top: 1.5em;
}

.grid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  height: 15vh;
  padding-left:2.8em ;
  padding-right: 2.8em;
  background-color: rgb(245, 245, 245);
  text-transform: capitalize;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.grid i{
  font-size: 28px;
background-color: white;
  padding: .3em;
  border-radius: 50%;
  color: #fc6A03;
  background-color: rgb(24, 24, 24);
}

.numbers {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.numbers small{
  font-family: 'Roboto', sans-serif;
}

.numbers h3{
  font-family: 'Rowdies', cursive;
}
.orders-management-section {
  margin-top: 2em;
}

.orders-management-section h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1em;
}

.orders-management-section h4 {
  font-family: 'Rowdies', cursive;
  margin-bottom: 1em;
  text-transform: capitalize;
  color: rgb(24, 24, 24);
  font-weight: lighter;
}

.orders-management-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.orders-management-section table th,
.orders-management-section table td{
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  color: rgb(24, 24, 24);
}



.orders-management-section table th {
  background-color: #f2f2f2;
}

.orders-management-section table tr:hover {
  background-color: #f5f5f5;
}


.analytics-section {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.analytics-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.analytics-content {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.analytics-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
  width: calc(25% - 10px);
  margin-bottom: 20px;
 
}

.analytics-card:last-child {
  margin-left: auto;
  margin-right: auto;
}

.analytics-card h4 {
  margin-bottom: 10px;
  color: #333;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  
}

.analytics-card p {
  color: #555;
  font-family: 'Rowdies', cursive;
  color: black;
  color: rgb(24, 24, 24);
}

.analytics-card.top-selling-products {
  flex-grow: 1;
  width: 100%;
}


/* orders */

.order-head{
  display: flex;
  justify-content: space-between;
  height: 8vh;
align-items: center;
}

.order-preview{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 1em;
  height: auto;
  background-color: white;
 padding-top: 1.5em;
}

.spaccing{
  margin-top: 3em;
}

.filter {
  display: flex;
  align-items: center;
}

.filter label {
  margin-right: 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}


.filter select,
.filter input[type="text"],
.filter input[type="date"],
.filter button {
  margin-right: 10px;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filter button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.filter button:hover {
  background-color: #45a049;
}

#status-filter{
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: none;

}


.searchbar {
  display: flex;
  align-items: center;
}

.searchbar form {
  display: flex;
  align-items: center;
  margin-right: 1em; /* Add spacing between input and button */
}

.searchbar label{
  margin-right: 10px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.searchbar input[type="search"] {
  padding: 0.5em;
  border-radius: 2px;
  border: 1px solid #ccc;
  outline: none; /* Remove the outline */
  font-family: "Roboto", sans-serif; /* Set the font family */
}

.searchbar input[type="search"]::placeholder {
  font-family: "Roboto", sans-serif; /* Set the font family for placeholder */
  text-transform: capitalize;
}

.searchbar button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 2px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left: 0.5em; /* Add space between input and button */
}

.orders-management-section table td select{
  padding: .5em;
text-transform: capitalize;
font-family: "Roboto", sans-serif;
}

.orders-management-section table td button{
  padding: .5em 1em;
text-transform: capitalize;
font-family: "Roboto", sans-serif;
background-color: #4caf50;
}

/*products */

.product-head{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.add-product button{
 padding: .8em 1em;
 text-transform: capitalize;
 font-weight: bold;
 background-color: #007bff;
 border-radius: .5em;
 cursor: pointer;
 color: white;
}

.product-img-cont{
  display: inline-block;
  width: 15%;
  height: 3em;
  vertical-align: middle;
  
}


.product-img-cont img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* add product */
#product-form{
  display: flex;
  gap: 2em;
}

.basic-info-product-section{
  height: 100%;
  width: 75%;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.image-info-product-section{
  height: 100%;
  width: 25%;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.basic-info-product-section h3{
 text-transform: capitalize;
 font-family: 'Rowdies', cursive;
 font-weight: lighter;
 margin-top: 1em;
 color: rgb(24, 24, 24);

}



.firstinput{
  width: 100%;
  margin-bottom: 2em;
  height: 3em;
  border-radius: .3em;
  box-shadow: 0px;
  outline: none;
  margin-top: 1em; 
}

.stock-preference{
width: 100%;
display: flex;
justify-content: space-between;
}

.basic-info-product-section textarea{
  resize: none;
  width: 100%;
  height: 40vh;
  outline: none;
}

.basic-info-product-section label{
  text-transform: capitalize;
  font-family: 'Rowdies', cursive;
}
.basic-info-product-section select{
  width: 20%;
  height: 5vh;
  font-family: 'Rowdies', cursive;
}


.secondinput{
  width: 20%;
margin-bottom: 4em;
height: 2.5em;
border-radius: .3em;
box-shadow: 0px;
outline: none;
margin-top: .5em;
margin-right: 4em;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  border: 1px dashed black;
  border-radius: 10px;
  
}

#file-input {
  display: none;
  cursor: pointer;
}
.file-input{
  cursor: pointer;
  font-family: 'Rowdies', cursive;
  font-weight: lighter;
}
.file-input small{
  font-family: "Roboto", sans-serif;
}

#preview {
  max-width: 100%;
min-height: 100%;
}

.product-img-head h3{
  text-transform: capitalize;
  font-family: 'Rowdies', cursive;
  font-weight: lighter;
  margin-top: 1em;
  color: rgb(24, 24, 24);
  margin-bottom: 1em;
}

.otherimages{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.imgsize{
  width: 30%;
  height: 8vh;

}

#space{
  margin-right: 3em;
}

.visibility{
  margin-top: 2em;
 
}

.visibility h3{
  font-family: 'Rowdies', cursive;
  text-transform: capitalize;
  font-weight: lighter;
  padding-bottom: 1em;
}

.checkbox-wrapper{
display: flex;
flex-direction: column;

}

.ind-checkbox{
  margin-bottom: 1em;
  font-family: 'Rowdies', cursive;
  font-weight: lighter;
  text-transform: capitalize;
  padding-bottom: .1em;
}

.add-product-btn{
  margin-top:1em ;
  margin-bottom: 3em;
  float: right;
  height: 5vh;
  padding: .3em;
  background-color: rgb(44, 177, 221);
  cursor: pointer;
  color: white;
  font-family: 'Rowdies', cursive;
}

/* customer */

.action{
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}

.bulpoint{
  height: .5em;
  width: .5em;
  background-color: gray;
  border-radius: 50%;
}

.actionoption select{
  width: 10%;
  opacity: 1;
 padding-top: 1em;
}